* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
}

body {
    background-color: #FAF9F8;
}

.boxcenter {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}


.row {
    width: 100%;
    float: left;
}




/* header o day */
header {
    height: 224px;

}

.top-left ul {
    list-style-type: none;
    display: inline-flex;

    position: absolute;
    left: 229px;
}

.top-left ul li {
    margin-right: 15px;
}

.top-left ul li a {
    text-decoration: none;
    color: #222222;
}

.top-right ul {
    display: inline-flex;
    list-style-type: none;
    position: absolute;
    right: 220px;
}

.top-right ul li {
    margin-right: 15px;
}

.top-right ul li a {
    text-decoration: none;
    color: #222222;
}

.top-right ul li a:hover,
.top-left ul li a:hover {
    text-decoration: underline;
}



.logo img {
    display: block;
    margin: 0 auto;

    width: 188px;
    height: 187px;

    position: relative;

}

nav {
    height: 37px;
    margin: 0 auto;

}

nav ul {
    display: block;
    text-align: center;
}

nav ul li {
    margin: 0 14px;
    display: inline-flex;
    list-style-type: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    line-height: 37px;
    color: #222222;
    font-size: 1.3vw;
}


nav .search-button {
    position: absolute;
    right: 14%;
    top: 26%;


}

nav .search-button i {
    position: absolute;
    top: 20%;
    left: 90%;
    font-size: 100%px;
}

nav .search-button input {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #FAF9F8;
    font-size: 0.9vw;
    /* line-height: 10px; */
    height: 100%;
    width: 100%;
}




/* end header */
/* content */


.container .content1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.container .content1 a {
    color: #626060;
    font-size: 0.7vw;
}

/* .container .content2{
    background-color: #546780;
    height: 130px;
    position: relative;
    margin-bottom: 20px;
}

.container .content2 .title-content1{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.5vw;
    letter-spacing: 0.5px;
    text-shadow: black 5px 5px 5px;

    position: absolute;
    left: 100px;
    top: 20px;
}

.container .content2 .title-content2{
    color: #FFFFFF;
    font-weight: 1000;
    font-size: 2vw;
    font-variant: initial;
    letter-spacing: 0.5px;
    text-shadow: black 5px 5px 5px;


    position: absolute;
    right: 150px;
    top: 50px;
}

.container .content2 .title-content3{
    position: absolute;
    bottom: 0;
    left: 5px;

    font-weight: 600;
    font-variant: small-caps;
}

.container  .content2 i{
    font-size: 4vw;
    color: #ffffff;
    text-shadow: black 5px 5px 5px;

    position: absolute;
    right: 75px;
    top: 40px;

} */

/* .container .content2{

}

.container .content2 .box-banner img{
    width: 100%;

    display: block;

    position: relative;

   
} */

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}


/* Caption text */
.text {
    text-align: center;
    display: block;
    position: absolute;
    left: 43%;

    bottom: 40px;
    margin: 0 auto;

    padding: 8px 12px;
    background-color: #222222;
    width: 15%;

}

.text a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 1.7vw;
    font-weight: 600;

}

.text:hover {
    background-color: #626060;
}

.text a:hover {
    background-color: #626060;
    color: rebeccapurple;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.content3 {}

.content3 h1 {
    text-decoration: underline;
    font-size: 1.1vw;
    position: relative;
    margin-bottom: 20px;

    text-align: left;
}

.content3 .hinh-danhmuc ul {
    list-style-type: none;
    position: relative;
    display: inline-flex;
    text-align: center;
    width: 100%;
}

.content3 .hinh-danhmuc ul li {
    background-color: white;
    text-align: center;
    float: left;
    border-radius: 50%;
    /* margin: 0 5px; */
    width: 100%;
}

.content3 .hinh-danhmuc ul li a img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 50%;

}

.content3 .title-danhmuc ul {
    display: inline-flex;
    list-style-type: none;
    position: relative;
    left: 1%;
}

.content3 .title-danhmuc ul li {
    text-align: center;
    margin: 0 24%;
}

.content3 .title-danhmuc ul li a {
    text-decoration: none;
    color: #222222;
}

.content3 .title-danhmuc ul li a:hover {
    text-decoration: underline;

}

.content4 img {
    width: 100%;
    display: block;
    margin: 0 auto;
}



/* phần tạp chí */

.tapchi {
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 10px;
    background-color: #BACEE9;

    text-align: center;
    margin-top: 80px;
}

.column-tapchi {
    width: 20%;
    height: 70%;
    background-color: #f2f2f2;
    float: left;

    position: relative;
    left: 20%;

    margin: 0 10px;

    margin-top: 30px;


}

.tapchi h1 {
    font-variant: small-caps;
}

.column-tapchi img {
    width: 100%;
    position: relative;
}

.content-tapchi1 {
    position: relative;
    top: -5px;
    color: gray;
    font-size: small;
}

.content-tapchi2 {
    position: relative;
    font-size: 0.9vw;
    font-weight: 845;
}

.content-tapchi3 {
    position: relative;
    bottom: -15%;
    left: 3%;
    text-decoration: underline;
    font-weight: 500;
}

.content-tapchi3:Hover {
    color: royalblue;
}









/* đây lầ phần footer */

footer {
    width: 100%;
    background-color: #5B638A;
    /* min-height:auto; */
    height: 600px;
    position: relative;

    padding-top: 50px;
    padding-bottom: 50px;

    font-size: 1.2;


}


.main-text {
    font-weight: bolder;
    font-size: 1.3vw;
    color: #000000;


}

.footer-home {
    position: absolute;
    left: 30%;

}

.footer-home ul li {
    margin: 10px 0px;
    list-style-type: none;
}

.footer-home ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.footer-shop {
    position: absolute;
    left: 40%;

}

.footer-shop ul li {
    margin: 10px 0px;
    list-style-type: none;
}

.footer-shop ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}


.footer-phanloai {
    position: absolute;
    left: 50%;
}

.footer-phanloai ul li {
    margin: 10px 0px;
    list-style-type: none;
}

.footer-phanloai ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}


.footer-diachi {
    position: absolute;
    left: 60%;
}


.footer-diachi ul li {
    margin: 10px 0px;
    list-style-type: none;
}

.footer-diachi ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

/* .footer-hiden{
    position:relative;
    width: 100%;
    height: 50px;
   } */
.sologan {
    text-align: center;

    margin-top: 14%;
    margin-left: 3%;

    color: #040404;

    line-height: 1.3vw;
    font-size: 1.2vw;

}

.footer-iccon {
    text-align: center;
    margin-top: 15px;
}

.footer-iccon ul {
    display: inline-flex;
}

.footer-iccon ul li {
    list-style-type: none;
    margin: 0 15px;
}

.footer-iccon ul li a {
    text-decoration: none;
    color: #000000;
}

.footer-logo {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 10%;
    height: auto;
    border: 1px solid #f2f2f2;
    margin-top: 10px;
}

.footer-logo img {
    width: 100%;
}

.copyright {
    text-align: center;
    color: #FFFFFF;
    text-shadow: #FFFFFF 0px 0px 5px;

    font-size: 1.1vw;

    margin-top: 10px;
}



/* form login */

/* .form-login{
    position: absolute;
    top: 0;
    left: 20%;
    width: 100%;
    height: 600px;
    background-color: #FFFFFF;

    display: block;
    text-align: center;
   } */


.modal {
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 10%;
    overflow: auto;

    width: 1000px;
    height: 600px;
    overflow: auto;
    background-color: #5B638A;

    display: none;


}


.container-dangnhap h1 {
    text-align: center;
    position: relative;
    top: 5%;

    color: #5B638A;
    font-weight: bold;
}

.logo-form {
    float: left;
    width: 30%;
}

.modal .logo-form img {
    width: 80%;
    border: 1px solid black;
    border-radius: 15px;

    position: relative;
    margin-top: 50%;
    left: 10%;


}

.container-dangnhap {
    width: 70%;
    height: 100%;
    float: right;
    background-color: #ffffff;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.container-dangnhap .close {
    position: absolute;
    right: 0;
    top: -20px;
    text-decoration: none;
    color: black;
    font-size: 4vw;
}

.container-dangnhap .close:hover {
    color: tomato;
}

.container-dangnhap form {
    margin: 5px auto;
    width: 80%;
    border-radius: 10px;
    margin-top: 25%;
}

.container-dangnhap input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-bottom: 2px solid #5B638A;
    border-right: none;
    border-left: none;
    border-top: none;
}

button {
    background-color: #5B638A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.footer-iccon-login {
    text-align: center;
}

.footer-iccon-login ul li {
    list-style-type: none;
    display: inline-flex;
    margin: 20px;
}

.footer-iccon-login ul li a {
    text-decoration: none;
    color: #5B638A;
    font-size: 2vw;
}



.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}



@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


/* form dang ky */


.modal {
    position: fixed;
    z-index: 1;
    left: 20%;
    top: 8%;
    overflow: auto;

    width: 1000px;
    height: 650px;
    overflow: auto;
    background-color: #5B638A;

    display: none;


}


.container-dangky h1 {
    text-align: center;
    position: relative;
    margin-bottom: 2%;

    color: #5B638A;
    font-weight: bold;
}

.logo-form {
    float: left;
    width: 30%;
}

.modal .logo-form img {
    width: 80%;
    border: 1px solid black;
    border-radius: 15px;

    position: relative;
    margin-top: 70%;
    left: 10%;


}

.container-dangky {
    width: 70%;
    height: 100%;
    float: right;
    background-color: #ffffff;

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}

.container-dangky .container {
    position: relative;
    top: -80px;
}

.container-dangky .close {
    position: absolute;
    right: 0;
    top: -20px;
    text-decoration: none;
    color: black;
    font-size: 4vw;
}

.container-dangky .close:hover {
    color: tomato;
}

.container-dangky form .container p {
    color: #626060;
}

.container-dangky form {
    margin: 5px auto;
    width: 80%;
    border-radius: 10px;
    margin-top: 25%;
}

.container-dangky input[type=text],
input[type=password] {
    width: 100%;
    padding: 5px 20px;
    margin: 10px 0;
    display: inline-block;
    border-bottom: 2px solid #5B638A;
    border-right: none;
    border-left: none;
    border-top: none;
}

.container-dangky button {
    background-color: #5B638A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.footer-iccon-login {
    text-align: center;
}

.footer-iccon-login ul li {
    list-style-type: none;
    display: inline-flex;
    margin: 10px;
}

.footer-iccon-login ul li a {
    text-decoration: none;
    color: #5B638A;
    font-size: 2vw;
}



.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}



@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/*PHẦN CTSP*/




/*CODE PHẦN GOI HANG*/

#right {
    background-color: #FAF9F8;
    height: 2px;
    margin-top: 800px;
}

#tuimuasam {
    width: 1080px;
    height: 200px;

    margin-left: 200px;
    margin-bottom: 40px;
}


#tuimuasam .giaohang {
    padding-top: 10px;

}

#tuimuasam .giaohang a {
    padding-left: 160px;
    color: #000000;
    text-decoration: none;
    margin-left: -30px;


}

#tuimuasam .giaohang a:hover {
    text-decoration: underline;

}

#tuimuasam .tuimua h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}


#left {
    width: 700px;
    height: 400px;
  
    margin-left: 200px;
    margin-top: -80px;
    

}

.left1{
    background-color:#ECECEC;
    margin-top: 50px;
    width: 700px;
    height: 300px;
    float: left;
}
#left .left00 .f{
    font-size: 30px;
    margin-left: 480px;
    margin-top: -220px;
     
   
}

#left .left00 .f:hover{
    color: red;
}



#left .left1 .left2 {
    max-width: 20%;
    padding-left: 20px;
    padding-top: 50px;
}


#left .left1 .left2 img {
    max-width: 100%;

}

#left .left1 .left3 {
    margin-left: 160px;
    margin-top: -180px;

}


#left .left1 .left4 {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: -30px;



}

#left .left1 .left4 a {

    padding-left: 30px;
    text-decoration: none;
    color: #000000;
}

#left .left1 .left5 {
   
    margin-left: -30px;



}

#left .left1 .left5 a {

    padding-left: 30px;
    text-decoration: none;
    color: #000000;

}

#left .left1 .left6 select {
    width: 70px;
    height: 50px;
    border: 2px solid #B2B2B2;
    margin-top: 10px;
}


#rightt {
    width: 380px;
    height: 650px;
    background-color:#ECECEC;
    margin-top: -400px;
    margin-left: 930px;
    float: right;
   

}

#rightt .rightt1 {
    margin-left: 10px;
  padding-top: 5px;
  color: #59606D;
}
#rightt .rightt2 a{
  color: #000000;
  margin-left: 20px;
  padding-top: 5px;
  
}

#rightt .rightt3{
    margin-left: 10px;
}

#rightt .rightt2 {
    margin-left: 225px;
    margin-top: -19px;
    padding-bottom: 20px;
}

#rightt .rightt4 button{
    border: 2px solid #000000;
    background: none;
    width: 350px;
    margin-left: 10px;
}

#rightt .rightt4 button:hover{
    transform: scale(1.1);
    transition: all.3s linear;
    background-color: #000000;
    color: #FFFFFF;
}

#rightt .rightt004{
    background-color: #C1C1C1;
    width: 330px;
    height: 1px;
    margin-left: 20px;
}

#rightt .rightt5{
  color: #59606D;
    margin-top: 5px;
    margin-left: 10px;
}
#rightt .rightt6{
    color: #59606D;
    margin-top: -20px;
    margin-left: 320px;
}
#rightt .rightt7{
    color: #59606D;
    margin-top: 5px;
    margin-left: 10px;
}
#rightt .rightt8{
    color: #59606D;
    margin-top: -20px;
    margin-left: 320px;
}


#rightt .rightt9{
    background-color: #000000;
    width: 330px;
    height: 1px;
    margin-left: 20px;
    margin-top: 10px;
}

#rightt .rightt01{
    margin-top: 5px;
    margin-left: 10px;
}

#rightt .rightt02{
    color:#000000;
    margin-top: -20px;
    margin-left: 320px;
}

#rightt .rightt03 button{
   background-color: #000000;
   color: #FFFFFF;
   margin-top: 50px;
   width: 350px;
   margin-left: 15px;
}

#rightt .rightt03 a{
    text-decoration: none;
    color: #FAF9F8;
}

#rightt .rightt04{
    margin-top: 15px;
    margin-left: 10px;
}

#rightt .rightt05{
    margin-top: 10px;
    margin-left: 10px;
}

#rightt .rightt05 .rightt005 img {
 padding-left: 10px;
 padding-top: 10px;
}
#rightt .rightt06{
 margin-top: 20px;
 margin-left: 10px;
 font-size: 12px;
 color: #59606D;

}
#rightt .rightt07{
 margin-top: 20px;
 margin-left: 10px;
 font-size: 12px;
 color: #59606D;

}
#rightt .rightt08 a{
margin-top: 10px;
color: #000000;
margin-left: 10px;
font-size: 12px;
color: #59606D;

}

#bottom {
    width: 1080px;
    height: 200px;
   
    margin-left: 200px;
    margin-top: 100px;
}

.product .list-product h1 {
    margin-top: 30px;
}

.product .list-product .moi p{
    color: #B2B2B2;
    font-size: 10px;
}

.product .list-product .product-item {
    max-width: 17%;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    
  
  }
  
  
  
  .product .list-product .product-item a {
    text-decoration: none;
    color: #000000;
  }
  
  .product .list-product .product-item a:hover {
    color: red;
  }
  
  .product .list-product .product-item img {
    max-width: 100%;
  }

/*END CODE PHẦN GOI HANG*/